@import "variables.scss";

.plyr {
  --plyr-color-main: #fddb45;
  --plyr-audio-controls-background: var(--primary-bg);
  --plyr-audio-control-color: var(--primary-text);
}
.plyr__progress {
  cursor: pointer;
}

.react-h5-audio-player {
  --button-color: #333;
  margin-bottom: 40px;
}
.fallback-player {
  height: 52px;
}

.toggle-play-button {
  margin-bottom: 10px;
}
.toggle-play-button > * {
  transition: none;
}
.audio-info {
  margin-top: 10px;
}
.play-icon {
  border-left: 20px solid var(--button-color) !important;
}
.pause-icon {
  margin-left: 3.5px;
  margin-top: 2.5px;
  border-left: 4px solid var(--button-color) !important;
  height: 14px !important;
  width: 6px !important;
  background: var(--button-color) !important;
  border-right: 4px solid var(--button-color) !important;
}

.progress-bar {
  height: 200px;
  background: var(--tertiary-bg) !important;
  opacity: 0.8;
}
.volume-controls {
  display: none;
}
