.bookshelf{
    background: aliceblue;
    display: flex;
    max-width: 800px;
    margin:auto;
    height:400px;
}
.book{
    display:flex;
    position:relative;
    background:purple;
    width: 250px;
    height:400px;
    margin:auto;
    
}