.episode-links{
    background: white;
    height:80px; width: 800px;
   margin-top: -30px; 
    margin-bottom: 0;
}
.listen-link{
    height:32px;
    font-size: 18px;
    padding: 10px 12px 4px 12px;
    margin-bottom: 16px;
    line-height: normal;
}
.listen-title{
    font-weight: normal;
    font-size: 35px;
    margin-top:14px;
}