@import "variables.scss";

.episode-links {
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
.listen-link {
  height: 32px;
  font-size: 18px;
  padding: 10px 12px 4px 12px;
  margin-bottom: 0;
  line-height: normal;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 3px;
}
.listen-title {
  font-weight: normal;
  font-size: 35px;
  margin-top: 14px;
  margin-bottom: 0;
}
@media all and (max-width: 520px) {
  .listen-link {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 15px;
    /*Top Right Bottom Left*/
    padding: 8px 11px 1px 10px;
  }
  .listen-title {
    font-size: 30px;
  }
}
@media all and (max-width: 520px) {
  .episode-links {
    justify-content: center;
  }
}
.episode-link--background-image {
  z-index: 1;

  margin: 0;
  padding: 0;
  height: 100%;
}
.align-bg-bottom::before {
  background-position-y: bottom !important;
}
.align-bg-bottom::after {
  background-position-y: bottom !important;
}
.episode-link h2 {
  margin-top: 0;
  color: white;
  margin-bottom: 0px;
  font-size: 32px;
  padding: 14px;
}
.episode-link--container {
  padding: 0;
  min-height: 240px;
  border-radius: 18px;
  display: inline-block;
  overflow: hidden;
  z-index: 3;
  background: #222222;
}
.episode-link--shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.episode-link {
  padding-top: 0;
  display: block;
}
.episode-link--text {
  //padding: 30px;
  position: absolute;
  z-index: 3;
}
.episode-list--grid_container {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  //background: coral;
  left: calc(-50vw + 50%);
  padding: 0 20px;
  margin-top: 35px;
}
.episode-list--grid {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0;
  //background: cadetblue;
  //padding: 0 22px;
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 25px;

  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.number-big {
  font-size: 70px;
  margin: 0;
  position: absolute;
  z-index: 3;
  opacity: 0.5;
  //font-family:"Open Sans";
  color: gold;
  top: -6px;
  right: 14px;
  mix-blend-mode: screen;
  font-weight: normal;
}
@media all and (max-width: 964px) {
  .episode-list--grid {
    max-width: 650px;
  }
}
@media all and (max-width: 600px) {
  .episode-list--grid_container {
    margin-top: 25px;
  }
  .episode-list--grid {
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
  }
  .episode-link--container {
    border-radius: 14px;
  }
  .episode-link h2 {
    font-size: 30px;
  }
  .number-big {
    font-size: 50px;
    top: -2px;
    right: 12px;
  }
}
@media all and (max-width: 600px) {
  .episode-link h2 {
    font-size: 26px;
  }
}
//grid-auto-rows: minmax(150px, auto);

.episode-link--title {
  position: absolute;
  bottom: 0;
}