@import 'variables.scss';
.filter{
    border-radius: 200px;
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 5px;
    margin-right: 5px;
    transition: none;
}
.inactive{
    background: grey;
    color:rgba(255,255,255,0.6);
}