.episode-links{
    background: white;
    justify-content: center; 
   margin-top: -30px; 
    margin-bottom: 30px;
}
.listen-link{
    height:32px;
    font-size: 18px;
    padding: 10px 12px 4px 12px;
    margin-bottom: 0;
    line-height: normal;
    margin-left:8px;margin-right: 8px;
}
.listen-title{
    font-weight: normal;
    font-size: 35px;
    margin-top:14px;
    margin-bottom: 0;
}
@media all and (max-width:520px){
    .listen-link{
        margin-left:4px;margin-right:4px;
        font-size:15px;
        /*Top Right Bottom Left*/
        padding: 8px 11px 1px 10px;
    }
    .listen-title{
        font-size: 30px;
    }
}
@media all and (max-width:520px){
.episode-links{
    justify-content: center;
}
}