@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Serif+Pro|Noto+Serif|Lora|Lato:800,900|Space+Mono|Open+Sans:300,400,700,800&display=swap');

html,
body {
  font-family: "Merriweather","Noto Serif", "Georgia", serif;
  background-color: #fff; /*#afc3c9;*/
  line-height: 185%;
  color: rgba(0, 0, 0, 0.82);
  font-size: 19px;
}
a{
color:rgba(0, 0, 0, 0.82);
text-decoration-thickness: 1.3px;
}

html {
  /*border: 10px solid black;*/
}
header {
  text-align: center;
}
hr{
  background:rgba(0, 0, 0, 0.12);
  border:none;
  height:3px;
}
.writeup{
  max-width:860px;
  margin:auto;
  margin-bottom:60px;
}
blockquote{
  color:rgba(0, 0, 0, 0.58);
  /*font-style: italic;*/
  font-style: oblique;
  border-left:4px solid rgba(0, 0, 0, 0.12);
  padding-left:18px;
}
.progress-bar{
  padding-top:2px;
  padding-bottom:2px;
}
.audio-info{
  font-family: "Space Mono", monospace
}
.header-image{
  margin:auto;
  max-width: 100px;
}
main{
  text-align: left;
  padding-left:20px;
  padding-right:20px;

}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans";
  font-weight: bold;
  line-height: 120%;
  letter-spacing:-0.02em;
  
  
}
h1{
  color:#444;
  
  font-weight: 900;
  font-size: 50px;
}
h2{
  font-size:38px;
  font-weight: 700;
}
.introduction{
  font-size: 22px;
  line-height: 180%;
}
.title {
  font-family: "Open Sans";
  font-weight:600;
  font-size: 30px;
  color:#999;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  user-select: none;
  margin-left: 0;
}
::selection {
  color: #444;
  background: rgba(255, 227, 67, 0.82); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255, 227, 67, 0.82); /* Gecko Browsers */
  color: #444;
}
header a {
  text-decoration: none;
}
.date{
  color:#999;
  text-transform: capitalize;
  font-family: "Space Mono";
  font-weight: normal;
font-size: 22px;
}
.episode-link h2{
  margin-top:14px;
}
h2 .date{
  font-size: 30px;
  margin-top:-10px;
}
.menu-wrapper {
  font-family:"Space Mono";
  max-width: 800px;
  margin-left:10%;
  margin-right:10%;
  margin: auto;
  text-transform: uppercase;
  margin-top:30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  padding-left:10px;
  padding-right:10px;
  user-select: none;
}
.push{
  margin-left: auto;
}
.menu-wrapper a{
  color:#999;
  display:inline-block;
  line-height: 1.2;
}
.menu-slash{
  color: #999;
  margin-left: 5px;
  margin-right: 5px;
}
.menu-wrapper [aria-current]{
  border-bottom:2px solid black;
  color:#222;
}
.episode-link{
  padding-top:10px;
  
  
}
.episode-link a{
  text-decoration: none;
  color:#333;
 
}

.line{
  border:none;
  border-bottom:3px solid #eee;
  width:200px;
margin-top:20px;
margin-left: 0;
height: 0;
background:none;
}
.number{
  font-family: "Space Mono";
  color:#999;
}
.back{
text-decoration: none;
font-family: "Open Sans";
text-align: center;
color:#999;
font-size: 30px;

font-weight: 700;
margin-left:calc(50% - 120px);
}
.listen-container{
  display:flex;
  flex-wrap: wrap;
  
}
.listen{
  background:rgba(255, 227, 67, 0.82);
  padding:13px;
  margin:13px;
  font-family: "Open Sans", sans-serif;
  font-size:22px;
  /*font-weight: bold;*/
}
.listen-container a{
  text-decoration: none;
}