@import url("https://fonts.googleapis.com/css?family=Merriweather|Space+Mono:400,700|Open+Sans:300,400,700,800&display=swap");
@import "variables.scss";

html,
body {
  font-family: "Merriweather", "Noto Serif", "Georgia", serif;
  background-color: var(--primary-bg); /*#afc3c9;*/
  line-height: 185%;
  color: var(--primary-text);
  font-size: 19px;
  max-width: 100%;
  overflow-x: hidden;
}
a {
  color: var(--primary-text);
  text-decoration-thickness: 1.3px;
}

header {
  text-align: center;
}
hr {
  background: var(--transparent-text);
  border: none;
  height: 3px;
}
.writeup {
  max-width: 860px;
  margin: auto;
  margin-bottom: 60px;
}
blockquote {
  opacity: 0.62;
  font-style: oblique;
  border-left: 4px solid var(--transparent-text);
  padding-left: 18px;
}
.progress-bar {
  padding-top: 2px;
  padding-bottom: 2px;
}
.audio-info {
  font-family: "Space Mono", monospace;
}
.header-image {
  margin: auto;
  max-width: 100px;
}
main {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans";
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.02em;
}
h1 {
  opacity: 0.9;

  font-weight: 900;
  font-size: 50px;
}
h2 {
  font-size: 38px;
  font-weight: 700;
}
h3 {
  font-size: 30px;
}
.introduction {
  font-size: 22px;
  line-height: 180%;
}
.title {
  font-family: "Open Sans";
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  user-select: none;
  margin-left: 0;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 34px;
  color: gold; //rgba(247, 210, 3, 0.966);
  line-height: 92%;
}
::selection {
  color: #444;
  background: var(--hti-yellow); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--hti-yellow); /* Gecko Browsers */
  color: #444;
}
header a {
  text-decoration: none;
}
.date {
  color: var(--quaternary-bg);
  text-transform: capitalize;
  font-family: "Space Mono";
  font-weight: normal;
  font-size: 22px;
}
h2 .date {
  font-size: 30px;
  margin-top: -10px;
}

.push {
  margin-left: auto;
}
@media all and (max-width: 500px) {
  .push {
    margin-left: 0;
  }
}
.episode-link a {
  text-decoration: none;
  color: var(--primary-text);
}

.line {
  border: none;
  border-bottom: 3px solid var(--tertiary-bg);
  opacity: 0.6;
  width: 200px;
  margin-top: 20px;
  margin-left: 0;
  height: 0;
  background: none;
}
.number {
  font-family: "Space Mono";
  color: #999;
}
.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-weight: bold;
}
.back {
  display: block;
  text-decoration: none;
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: var(--primary-text);
  opacity: 0.7;
  font-size: 22px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}
.listen-container {
  display: flex;
  flex-wrap: wrap;
  a {
    color: #16181c;
  }
}
$transition-time: 0s;
html * {
  transition: background-color $transition-time, color $transition-time,
    text-decoration $transition-time, background $transition-time,
    border-bottom $transition-time;
}
.listen {
  background: var(--hti-yellow);
  padding: 13px 22px;
  margin: 13px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  border-radius: 3px;
}
.listen:hover {
  outline: 5px solid var(--primary-accent);
  outline-offset: -5px;
}
.listen-container a {
  text-decoration: none;
}
@media all and (max-width: 750px) {
  .title {
    max-width: 100px;
    line-height: 92%;
    margin-left: 10%;
  }
}
@media all and (max-width: 500px) {
  .title {
    margin-left: 0%;
    font-size: 28px;
  }
  blockquote {
    margin-left: 0;
  }
}
@media all and (max-width: 600px) {
  body {
    font-size: 17px;
  }

  .menu-wrapper {
    margin-top: 10px;
    max-height: 120px;
    padding-left: 6%;
    padding-right: 6%;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 26px;
  }
  h1 {
    margin-bottom: 0;
    font-size: 38px;
  }
  .line {
    margin-bottom: 20px;
  }
  .date {
    font-size: 18px;
    margin-top: 0;
  }
  .episode-link {
    padding-top: 0%;
  }
  .episode-title {
    font-size: 34px;
  }
  main {
    padding-left: 0;
    padding-right: 0;
  }
  .introduction {
    font-size: 18px;
  }
}
iframe {
  max-width: 100%;
}
.anchor {
  display: none;
}
.error-message {
  color: #d02929;
}
.success-message {
  opacity: 0.5;
}
button {
  border: none;
}
.centered-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
