.book-link * {
  margin: 0;
  padding: 0;
}
.library-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 0.6fr));
  column-gap: 15px;
  align-items: stretch;
  justify-content: center;
  row-gap: 10px;
  margin-top:26px;
}
@media all and (max-width: 600px) {
  .library-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
.book-link {
  /*background: #f7d40c;
    border:1px solid darkolivegreen;*/
  margin: 0 0;
  position: relative;
  padding: 0;
}

.book-link-image {
  -moz-box-shadow: 8px 8px 30px -16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 8px 8px 30px -16px rgba(0, 0, 0, 0.6);
  box-shadow: 8px 8px 30px -16px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  bottom: 0;
  /* HOVER OFF */
  transition: bottom 0.5s ease;
  -webkit-transition: bottom 0.5s ease;
  border-radius: 4px;
  /*
  transition: .5s ease;
  */
}
/*
.book-link-image:hover {
  bottom: 10px;
}
*/
.book-link-title {
  margin-top: 15px;
  font-weight: bold;
  padding: 0 6px;
}
.book-link-author {
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.8;
  line-height: 120%;
  font-size: 17px;
}
.book-link-chosen {
  margin-top: 10px;
  opacity: 0.8;
  line-height: 120%;
  font-size: 17px;
}
.book-link-episode {
  text-decoration: underline;
}
.book-link-info {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: -10px;
  height: 100%;
  width: 100%;
  text-align: center;
  /*opacity: 0;*/
  pointer-events: none;
  /*
  transition: .5s ease;
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-link-image__link {
  text-decoration: none;
}
.book-link:hover .book-link-image {
  opacity: 0.3;
  filter: blur(4px);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.book-link:hover .book-link-info {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.book-link-line {
  width: 50%;
  margin: 0 auto;
  border-bottom: 3px solid #f7d412;
}
.library-filter-button{
  border:none;
  cursor: pointer;
}
@media all and (max-width:800px){
  .library-filter-button{
    font-size: 16px;
    margin:6px;
  }
}