.book-link * {
  margin: 0;
  padding: 0;
}
.library-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 15px;
  align-items: stretch;
  justify-content: center;
  row-gap: 15px;
}
.book-link {
  /*background: #f7d40c;
    border:1px solid darkolivegreen;*/
  min-height: 200px;
  margin: 0 10px;
  position: relative;
}

.book-link-image {
  -moz-box-shadow: 8px 8px 20px -10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 8px 8px 20px -10px rgba(0, 0, 0, 0.8);
  box-shadow: 8px 8px 20px -10px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  bottom: 0;
  /* HOVER OFF */
  transition: bottom 0.5s ease;
  -webkit-transition: bottom 0.5s ease;
  border-radius: 3px;
  transition: .5s ease;
  
}
.book-link-image:hover {
  bottom: 10px;
}
.book-link-title {
  font-weight: bold;
}
.book-link-author {
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.8;
  line-height: 120%;
  font-size: 17px;
}
.book-link-chosen {
  margin-top: 10px;
  opacity: 0.8;
  line-height: 120%;
  font-size: 17px;
}
.book-link-episode{
  text-decoration: underline;
}
.book-link-info{
  position: absolute;
  top:0;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: .5s ease;
}
.book-link-image__link{
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.book-link:hover .book-link-image {
  opacity: 0.2;
}

.book-link:hover .book-link-info {
  opacity: 1;
}