@import "variables.scss";

.scroll-button {
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
  position: fixed;
  bottom: 2vh;
  right: max(3%, 25px);
  background-color: var(--primary-bg); // darken($secondary-bg, 5%);
  border: 2px solid var(--primary-text);
  color: var(--primary-text);
  opacity: 0.8;
  width: 35px;
  height: 35px;
};