@import "variables.scss";

.space { 
  justify-content: space-between;
  padding-left: 12px;
}

.center {
    justify-content: space-around;
    justify-content: center;
    display: flex;
    display: block;
    text-decoration: none;
    position: relative;
    margin: 0;
    font-family: "Open Sans";
    text-align: center;
    color: #999;
    font-size: 25px;
    width: 100%;
    font-weight: 600;
}
.link-button {
  display: inline-block;
  margin-bottom: 30px;
  background: $accent-color;
  //border: 2px solid darken($color: $accent-color, $amount: 10%);
  text-decoration: none;
  color: $primary-bg;
  //box-shadow: $shadow-elevation-medium;
  border: 1px solid $accent-color;

  span {
    display: inline-block;
    margin: 12px 18px 10px 18px;
  }
}
.link-arrow {
  border-left: 1px solid $accent-color;
  font-size: 15px;
  display: inline-block;
  background: $primary-bg;
  color: $accent-color;
  opacity: 1;
  height: 100%;
  padding: 16px 14px 12px 14px;
  box-sizing: border-box;
  svg {
    position: relative;
    top: 0px;
    margin-left: 0;
    transform: rotate(-45deg);
    opacity: 1;
  }
}

.link-button:hover {
  background: $primary-bg;
  color: $accent-color;
}
@media all and (max-width: 600px) {
  .link-arrow {
    display: none;
  }
  .link-button>span::after {
    content: "→";
    margin-left: 4px;
  }
}
.link-button-container {
  display: block;
  text-align: center;
}
