.rating-form {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  summary {
    outline: 0;
  }
  .rating-button {
    background: rgba(255, 227, 67, 0.82);
    padding: 13px;
    margin: 13px;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    border: none;
    cursor: pointer;
    /*font-weight: bold;*/
  }
  textarea {
    border: 2px solid #d3d3d3;
    width: 90%;
    max-width: 500px;
  }
  textarea:focus {
    outline: 5px solid #ffe44b;
  }
  margin-bottom: 10px;
  .DefaultStarComponent{
    color:#eeeeee;
  }
  .DefaultStarComponent.addSelection {
    color: #ffe44b;
  }
  .StarPickerButton {
    margin: 0 0px;
  }
  .dv-star-rating {
    font-size: 36px;
    display: block;
  }
  .StarPicker{
    --star-size:100px;
  }
}

.rating-hr {
  max-width: 400px;
}
