@import url('https://fonts.googleapis.com/css?family=Merriweather|Space+Mono|Open+Sans:400,700&display=swap');

html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: #afc3c9;
}
html {
  /*border: 10px solid black;*/
}
header {
  text-align: center;
}

.title {
  font-family: "Merriweather";
  font-weight:bold;
  font-size: 60px;
}
.header-image{
  margin:auto;
  max-width: 100px;
}
main{
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans";
  font-weight: bold;
  line-height: 85%;
}
header a {
  text-decoration: none;
}
.date{
  color:white;
  text-transform: capitalize;
  font-family: "Fira Code","Space Mono";
}
.menu-wrapper {
  max-width: 300px;
  margin: auto;
  margin-top:20px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
}
.menu-wrapper a{
  color:white;
}
.episode-link{
  padding-top:40px;
  text-align: center;
  
}
.episode-link a{
  text-decoration: none;
  color:#333;
}
.progress-bar{
  height:200px;
  background-color: red;
}
.line{
  border:none;
  border-bottom:1px solid white;
  width:200px;
margin-top:20px;
}