html,
body {
  font-family: sans-serif;
}
html {
  border: 10px solid black;
}
header {
  text-align: center;
}
.title {
  font-family: "Recoleta";
  font-size: 60px;
}
h1,
h2,
h3,
h4 {
  font-family: "Karla";

  line-height: 85%;
}
header a {
  text-decoration: none;
}
.menu-wrapper {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
