@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body {
  font-family: sans-serif;
}
html {
  /*border: 10px solid black;*/
}
header {
  text-align: center;
}
.title {
  font-family: "Open Sans";
  font-weight:bold;
  font-size: 60px;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans";

  line-height: 85%;
}
header a {
  text-decoration: none;
}
.menu-wrapper {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.episode-link{
  padding-top:40px;
  text-align: center;
  
}
.episode-link a{
  text-decoration: none;
  color:#333;
}
